{% extends 'base.html' %}
{% block content %}

<h1>Restaurants List</h1>

{% for r in restaurants %}
  <div class="card">
    <a href="{% url 'detail' r.id %}">
      <div class="card-content">
        <span class="card-title">{{ r.name }}</span>
        <p>Breed: {{ r.cuisine }}</p>
        <p>Description: {{ r.description }}</p>
        {% if r.age > 0 %}
          <p>capacity: {{ r.age }}</p>
        {% else %}
          <p>capacity: Unknown</p>
        {% endif %}
      </div>
    <!-- and this following one as well -->
    </a>
  </div>
{% endfor %}

{% endblock %}